#side .section {
  padding: 5px;
}
#side .section .item {
  color: var(--main-text-color);
  text-decoration: none;
}

.summary {
  height: 100%;
  overflow-y: scroll;
}
.summary .charts {
  display: flex;
  padding-bottom: 20px;
}
.summary .charts-title {
  font-size: 18px;
}
.summary .charts .chart-thumb {
  width: 250px;
  height: 250px;
  padding: 10px;
}


.per-node {
  height: 100%;
  overflow-y: scroll;
}
.per-node .chart-nodes {
  height: 400px;
}


.node {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  padding-right: 30px;
}
.node .chart-select {
  padding: 20px;
}
.node .chart-select select {
  -webkit-appearance: none;
  outline: none;
  background: var(--main-background-color);
  border: 1px solid var(--property-border-color);
  border-radius: 15px;
  color: var(--main-text-color);
  padding: 5px 10px;
}
.node .chart-node {
  flex: 1;
  height: 0px;
}
.node .chart-scrub {
  padding: 20px 0 20px 50px;
}
.node .chart-scrub input {
  width: 100%;
}
