.summary {
  height: 100%;
  overflow-y: scroll;
}
.summary .charts {
  display: flex;
  padding-bottom: 20px;
}
.summary .charts-title {
  font-size: 18px;
}
.summary .charts .chart-thumb {
  width: 250px;
  height: 250px;
  padding: 10px;
}


.per-node {
  height: 100%;
  overflow-y: scroll;
}
