#side .section {
  padding: 5px;
}
#side .section .item {
  color: var(--main-text-color);
  text-decoration: none;
}

.summary {
  height: 100%;
  overflow-y: scroll;
}
.summary .charts {
  display: flex;
  padding-bottom: 20px;
}
.summary .charts-title {
  font-size: 18px;
}
.summary .charts .chart-thumb {
  width: 250px;
  height: 250px;
  padding: 10px;
}


.per-node {
  height: 100%;
  overflow-y: scroll;
}
.per-node .chart-nodes {
  xwidth: 1000px;
  height: 400px;
}


.node {
  height: 100%;
  overflow-y: scroll;
}
.node .chart-select {
  padding: 20px;
}
.node .chart-node {
  height: 400px;
}
